.rs-modal {
  background-color: #111;
  color: #ccc;
  border: none;
  box-shadow: none;
  top: 20%;
}

.rs-modal-content {
  background-color: #111 !important;
  border: none;
}

.rs-modal-header,
.rs-modal-body,
.rs-modal-footer {
  background-color: #111;
  color: #ccc;
}

.rs-modal-title {
  color: #ccc !important;
}

.rs-input {
  background-color: #222 !important;
  color: #ccc !important;
  border: 1px solid #444 !important;
}

.rs-input::placeholder {
  color: #777;
}

.rs-btn-primary {
  background-color: #b00610 !important;
  border: none;
  color: #fff;
}

.rs-btn-subtle {
  color: #ccc !important;
  border: 1px solid #444;
  background-color: transparent;
}

h5 {
  color: #aaa !important;
}

